<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @comment.body %>
</p>

<p>
  <strong>Blog:</strong>
  <%= @comment.blog %>
</p>

<%= link_to 'Edit', edit_blog_comment_path(@comment) %> |
<%= link_to 'Back', blog_comment_path %>
